.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0px 20px;

}
.logo{
    width:100px;
}
.nav-items{
    padding: 0px 20px;
}
.nav-items>ul{
    display: flex;
    list-style-type: none;

    
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-wrap: wrap;
}
.res-card{
    width: 200px;
    
    padding: 5px;
    margin: 10px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    
}
.res-card:hover{
    transform: scale(0.95);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    
    
}
.res-card>h4{
    margin: 8px;
    flex-wrap: wrap;
    overflow: hidden;
    word-wrap: break-word;
    font-weight: 400; /* Normal weight */
    color: #555;
}

.search{
    padding: 10px 10px;
}
.res-logo{
    
    width:200px;
    height:150px;
    border-radius: 15px;
}
.filter-btn{
    margin: 10px;
    cursor:pointer;
}

/*CSS for loader */
.shimmer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-wrap: wrap;
}
.shimmer-card{
    background-color: grey !important;
    height: 300px;
    width: 200px;
    border: 2px solid #534e4e;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
}
.filter{
    display:flex;
}