.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0px 20px;

}
.logo{
    width:100px;
}
.nav-items{
    padding: 0px 20px;
}
.nav-items>ul{
    display: flex;
    list-style-type: none;

    
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-wrap: wrap;
}
.res-card{
    width: 200px;
    
    padding: 5px;
    margin: 10px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    
}
.res-container a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent */
  }
.res-card:hover{
    transform: scale(0.95);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    
    
}
.res-card>h4{
    margin: 8px;
    flex-wrap: wrap;
    overflow: hidden;
    word-wrap: break-word;
    font-weight: 400; /* Normal weight */
    color: #555;
}

.search{
    padding: 10px 10px;
}
.res-logo{
    
    width:200px;
    height:150px;
    border-radius: 15px;
}
.filter-btn{
    margin: 10px;
    cursor:pointer;
}
.filter-btn:hover {
    background-color:#897d75;
  }

/*CSS for loader */
.shimmer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-wrap: wrap;
}
.shimmer-card{
    background-color: grey !important;
    height: 300px;
    width: 200px;
    border: 2px solid #534e4e;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
}
.filter{
    display:flex;
}

.user-profile {
    display: flex; /* Aligns the image and text horizontally */
    align-items: center; /* Vertically centers the text with the image */
    gap: 16px; /* Adds space between the image and text */
    padding: 16px; /* Optional: Adds padding around the container */
  }
  
  .avatar {
    width: 100px; /* Sets the size of the avatar */
    height: 100px; /* Ensures the image is square */
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid black; /* Adds a black border around the avatar */
  }
  
  .user-details {
    display: flex;
    flex-direction: column; /* Aligns the text vertically */
    justify-content: center; /* Vertically centers the text within the container */
  }
  .status-toggle {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .status-toggle.online {
    background-color: green;
  }
  
  .status-toggle.offline {
    background-color: #ff8080; /* Light red background */
    color: #900;
  }
  
  .status-toggle:hover {
    transform: scale(1.1); /* Slight zoom on hover */
  }
  
  .status-toggle:active {
    transform: scale(0.95); /* Slight press-in effect */
  }